asgiref==3.7.2
crispy-bootstrap4==2023.1
Django==5.0.2
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
flake8==7.0.0
mccabe==0.7.0
pycodestyle==2.11.1
pyflakes==3.2.0
sqlparse==0.4.4
typing_extensions==4.10.0
