{% extends "base.html" %}
{% block content %}
    <h1>Movie {{ movie.title }}</h1>
    <p>Release year: {{ movie.release_year }}</p>
    <p>Country: {{ movie.country }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>IMDB rate: {{ movie.imdb }}</p>
    <p>Duration: {{ movie.runtime }} min.</p>
    <p>Description: {{ movie.description }}</p>
    <p>Genres: {% for genre in movie.genres.all %} #{{ genre }} {% endfor %}</p>
    <h3>Actors:</h3>
    {% for actor in movie.actors.all %}
        <ul>
            <li>Actor id: {{ actor.id }}</li>
            <li>Actor name: {{ actor.full_name }}</li>
        </ul>
    {% endfor %}
{% endblock %}