{% extends "base.html" %}

{% block content %}
    <h1>
        Movie List
        <a href="{% url 'movies:movie-create' %}" class="btn btn-primary link-to-page">
            Create
        </a>
    </h1>
    <form method="get" action="" class="form-inline">
        {{ search_form }}

        <input type="submit" value="🔍">
    </form>
    <br>
    {% if movie_list %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release year</th>
                <th>Genres</th>
                <th>Director</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for movie in movie_list %}
                <tr>
                    <td>
                        {{ movie.id }}
                    </td>
                    <td>
                        {{ movie.title }}
                    </td>
                    <td>
                        {{ movie.release_year }}
                    </td>
                    <td>
                        {{ movie.genres }}
                    </td>
                    <td>
                        {{ movie.director }}
                    </td>
                    <td>
                        <a href="{% url 'movies:movie-update' pk=movie.id %}">
                            Update
                        </a>
                    </td>
                    <td>
                        <a style="color: red"
                           href="{% url 'movies:movie-delete' pk=movie.id %}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>There are no movies in the service.</p>
    {% endif %}
{% endblock %}